<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/main.css}">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/add.css}">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/button.css}">

<!-- jQueryの読み込み -->
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>

<!-- jQueryUiの読み込み -->
<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<link rel="stylesheet"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">

<title>施設種別登録</title>
</head>
<body>
	<div th:replace="util/fragments::header_block(|施設種別情報登録画面|)"></div>
	<div id="container">

		<form th:action="@{/facilitytype/confirm}" name="add" method="POST"
			th:object="${facilityTypeAddForm.facilityTypeForm}">


			<div class="system-msg">
				<span th:errors="${facilityTypeAddForm.sysMsg}">システムメッセージ</span>
			</div>

			<table class="facility-add">

				<tr>
					<th>施設名<span class="system-msg">※</span></th>
					<td><span th:if="${#fields.hasErrors('name')}"
						th:errors="*{name}" class="system-msg">haserror</span> <input
						type="text" th:field="*{name}"></td>
				</tr>
			</table>

			<div class="bottom" align="center">
				<button class="btn-animation-add" id="confirm" name="add">
					<span>登録</span>
				</button>
				<a class="btn-animation-menu"
					onClick="location.href='/facilityType/list'"><span>戻る</span></a>
			</div>

		</form>
	</div>
	<!-- container -->
	<div th:replace="util/fragments::footer_block()"></div>

</body>
</html>