<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HTML Lesson</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div id="contents">
		<form>
			<p class="question">aタグを書いてみよう リンク先は、https://www.ginga.co.jp/
				リンク名は、銀河ソフトウェア</p>
			<a href="https://www.ginga.co.jp">銀河ソフトウェア</a>
			<p class="question">selectタブを書いてみよう 血液型 A型、B型、AB型、O型</p>
			<select>
				<option value="A">A型</option>
				<option value="B">B型</option>
				<option value="O">O型</option>
				<option value="AB">AB型</option>
			</select>

			<div class="question">
				<p>この段階では、罫線とかは意識しないで問題ありません</p>
			</div>

			<p>tableタグを書いてみよう 列名は、名前、出身地</p>
			<table>
				<tr>
					<th>名前</th>
					<th>出身地</th>
				</tr>
				<tr>
					<td>銀河 太郎</td>
					<td>中目黒</td>
				</tr>
				<tr>
					<td>銀河 花子</td>
					<td>長野</td>
				</tr>
			</table>
			<p class="question">inputタグ textを書いてみよう</p>
			<input type="text">

			<p class="question">inputタグ passwordを書いてみよう</p>
			<input type="password">

			<p class="question">inputタグ radioを書いてみよう</p>
			<input type="radio" name="sex">男 <input type="radio"
				name="sex">女 <input type="radio" name="sex">どちらでもない

			<p class="question">inputタグ checkboxを書いてみよう</p>
			<p class="question">好きな食べ物は？ ※複数回答可</p>
			<input type="checkbox" name="food">すし <input type="checkbox"
				name="food">とんかつ <input type="checkbox" name="food">焼肉
			<input type="checkbox" name="food">唐揚げ <input type="checkbox"
				name="food">アイス <input type="checkbox" name="food">しゃぶしゃぶ
			<input type="checkbox" name="food">ラーメン <input
				type="checkbox" name="food">餃子

			<p class="question">inputタグ buttonを書いてみよう</p>
			<input type="button" value="ボタン">

			<p class="question">inputタグ submitを書いてみよう</p>
			<input type="submit" value="送信ボタン">

			<p class="question">inputタグ resetを書いてみよう</p>
			<input type="reset" value="リセット">
			<p>リセットボタンをクリックしたら、入力内容がリセットされることを確認してください</p>

			<div class="question">
				<p>inputタグ hiddenを書いてみよう 隠しメッセージは、画面には表示されない</p>
				<input type="hidden" value="画面には表示されない">
				<p>確認する際は、画面上で右クリックをし、ページのソースを表示を選択し確認してください</p>
			</div>
			<p class="question">他にもいろいろあるので時間があるときに確認してください</p>
			<a href="http://www.htmq.com/html5/input.shtml">参考サイト</a>
		</form>
	</div>
	<!-- contents -->
</body>
</html>
