<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/main.css}">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/button.css}">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/list.css}">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/calendar/calendar.css}">

<!--  <link rel="stylesheet" type="text/css" media="all"
	href="../css/calendar/calendar.css"> -->
<!-- jQueryの読み込み -->
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>

<!-- jQueryUiの読み込み -->
<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<link rel="stylesheet"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<title>予約状況詳細画面</title>
</head>
<body>

	<div th:replace="util/fragments::header_block(|予約状況詳細画面	|)"></div>
	<div id="container">
		<div align="center">
			<div class="test">test</div>
		</div>

		<!-- 隠しデータ -->
		<th:block
			th:if="${calendarForm.facilityReservationFormList.size != 0}">
			<input id="facilityId" type="hidden"
				th:value="${calendarForm.facilityReservationFormList[0].facilityForm.facilityId}">
		</th:block>
		<th:block
			th:if="${calendarForm.facilityReservationFormList.size == 0}">
			<input id="facilityId" type="hidden"
				th:value="${calendarForm.facilityReservationForm.facilityForm.facilityId}">
		</th:block>


		<div class="system-msg2">
			<!-- 予約情報がある場合 -->
			<th:block
				th:if="${calendarForm.facilityReservationFormList.size != 0}">
				<div
					th:text="|施設名:${calendarForm.facilityReservationFormList[0].facilityForm.name}|"></div>
			</th:block>
			<!-- 新規施設で予約情報がない場合 -->
			<th:block
				th:if="${calendarForm.facilityReservationFormList.size ==0}">
				<div
					th:text="|施設名:${calendarForm.facilityReservationForm.facilityForm.name}|"></div>
			</th:block>

		</div>

		<!-- selectボタン2つ作成 -->
		<div class="flex" align="center">
			<!-- 年selectボタン -->
			<div class="cp_ipselect cp_sl01">
				<select id="selectYear" class="year" name="yearJump">
				</select>
			</div>

			<!-- 月selectボタン -->
			<div class="cp_ipselect cp_sl01">
				<select id="selectMonth" class="month" name="monthJump">
				</select>
			</div>
		</div>


		<!-- 月飛ばしボタン -->
		<div align="center">
			<button type="button" class="btn-animation-02 button" name="before">
				<span>前月</span>
			</button>
			<button type="button" class="btn-animation-submit button"
				name="current">
				<span>今月</span>
			</button>
			<button type="button" class="btn-animation-menu button" name="next">
				<span>次月</span>
			</button>
		</div>
		<!-- カレンダー -->
		<div id="calendar" class="calendar-page" align="center"></div>
		<div class="bottom" align="center">
			<a onClick="location.href='/testfacilityreservation/list'"
				class="btn-animation-menu"><span>戻る</span></a>
		</div>
	</div>
	<div id="footer">
		<p>© 2020 ginga software</p>
	</div>

	<!-- jsファイルの読み込み -->
	<script type="text/javascript"
		th:src="@{/js/test/testfacilityReservationCalendar.js}">

	</script>
</body>
</html>